<a href="https://colab.research.google.com/github/ryanwaters123/ryan-waters/blob/master/RewardsDatabase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 2: Gas Station Rewards Points Database

The purpose of this database is to keep track of customers and their purchases, customers will be rewarded for frequently shopping in the form of ‘points’ which could be redeemed to get free items. Giving customers an incentive to shop will drive in more business, and in turn more lucrative profits. Each of the five tables below will demonstrate how this system works and how to keep track of it. A number of the tables will be updated in real time as customers make purchases, accumulating points or spending their points for reward. For the company it is very important that these tables stay up to date in order to combat customers trying to redeem their points more than once. The purpose of table one is to pair each of the customers with a personalized ID #, along with their names, phone numbers and available points, this will be updated in real time so the available points are readily viewable. Table two will represent how many points a customer is rewarded for buying each specific item. Conversely, table three will show how many points must be spent in order to attain each rewarded item, both of these tables will stay consistent as the values should not change. Tables four and five will be similar to one another as they will both keep track of transaction history specific to each customer. Table four will show previous transactions as a whole, giving the amount spent by the customer and the number of points awarded in the transaction. Table five builds off of table four, but more in depth, it takes each transaction, what you bought, and what you were awarded for each item, both of these tables will be updated in real time, and will be specific to each individual customer as previously stated. Tables 4 and 5 are important because they also eliminate the need for paper receipts, and makes them easier to track. Doing this cuts down on the costs of paper for the business and less degradation to the environment, plus most receipts end up in the trash anyway. For each of the tables there is a distinct relationship to the user, there is a 1:M relationship from table one to table four, and a M:M relationship between tables 4 and 5. Tables two and three do not update, and are not linked to any of the others, but they are necessary in tracking the points and knowing the values of individual products, because of this they have a 1:1 relationship with table one and a 1:M relationship with both tables four and five. Not much work would need to be done by the company as the system should update automatically, and will warn the cashier if someone is over drawing points. Other than that, there is the potential that corporate would change the values in tables two and three, to promote specific items or a number of different reasons they please. The point is that database will be taking the brunt of all the work and will allow workers to focus primarily on doing their jobs as best as possible. One constraint of the system is that there is no negative point values, therefore ensuring the company is not getting taken advantage of. There will also be a confirmation for each purchase made over $100. The goal of this database is to bring more customers in, people love to be rewarded, and made to feel special. By adding a reward system that is as easy to use as this, the quality of life for frequent shoppers dramatically increases. Having a reward system could be the decisive factor that makes customers choose to shop here as opposed to competitors.A lot of companies are creating award systems but none are as thorough as this. For the company itself, the benefits of having this reward system are monstrumental, it can cut down on common issues that are present in the workplace and give employees more time to focus on improving the other various facets of their duties, this can lead to higher production, and in turn, increased profits. All around this system is an essential part of workplace maintenance and growth.

In [0]:
import sqlite3 # Once imported in a single notebook, it is available to us throughout the rest of the notebook.

In [0]:
# connect to database, if not there, create it.
connectionToDatabase = sqlite3.connect('Customers')

In [0]:
cursor = connectionToDatabase.cursor()

In [0]:
cursor.execute('''drop table IF EXISTS Customers''')
connectionToDatabase.commit()

cursor.execute('''create table Customers (customerID integer PRIMARY KEY, first_name text, last_name text, phone_number string, points_available real)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Customers values ('1', 'Joey', 'Davidson', '724-724-7244', '200' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('2', 'Bob', 'Johnson', '678-999-8212', '350' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('3', 'Larry', 'Jones', '123-321-1234', '0' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('4', 'Fitzgerald', 'Banks', '911-321-0987', '800' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('5', 'Sam', 'Smith', '456-852-6322', '400' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('6', 'Donny', 'Brooks', '555-487-6525', '150' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Customers values ('7', 'Austin', 'Post', '664-256-1495', '100' );''')
connectionToDatabase.commit()

Table 1: Customers

A list of customers, their IDs, phone numbers, and reward point balances are stored here.
Goal: track customer information
Method: Store it all in 1 table

|Customer ID|First Name|Last Name|Phone Number|Points Available|
|---|---|---|---|---|
|1|Joey|Davidson|724-724-7244|200|
|2|Bob|Johnson|678-999-8212|350|
|3|Larry|Jones|123-321-1234|0|
|4|Fitzgerald|Banks|911-321-0987|800|
|5|Sam|Smith|456-852-6322|400|
|6|Donny|Brooks|555-487-6525|150|
|7|Austin|Post|664-256-1495|100|

Table 2: Points Awarded for Purchases

This table contains a list showing how many points buying each item in the store awards.
Goal: Allow customers to easily see how many points things will award them
Method: Provide a complete list in this table on our website

In [0]:
cursor.execute('''drop table IF EXISTS Points_Awarded''')
connectionToDatabase.commit()

cursor.execute('''create table Points_Awarded (item text PRIMARY KEY, price int, points_awarded int)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Points_Awarded values ('Candy Bar', '1', '50' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Awarded values ('Pizza', '7', '200' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Awarded values ('Icee', '2', '75' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Awarded values ('Hot Dog', '4', '100' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Awarded values ('Pop', '2', '125' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Awarded values ('Burger', '6', '150' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Awarded values ('Cheeseburger', '7', '175' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Awarded values ('Ice Cream', '3', '80' );''')
connectionToDatabase.commit()

|Item|Price ($)|Points Awarded|
|---|---|---|
|Candy Bar|1|50|
|Pizza|7|200|
|Icee|2|75|
|Hot dog|4|100|
|Pop|2|125|
|Burger|6|150|
|Cheeseburger|7|175|
|Ice Cream|3|80|

In [0]:
cursor.execute('''drop table IF EXISTS Points_Needed''')
connectionToDatabase.commit()

cursor.execute('''create table Points_Needed (item text PRIMARY KEY, points_required int)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Points_Needed values ('Pizza', '2000' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Needed values ('Pop', '800' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Needed values ('Hot Dog', '500' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Needed values ('Candy Bar', '250' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Needed values ('Burger', '1500' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Needed values ('Cheeseburger', '1750' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Needed values ('Ice Cream', '250' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Points_Needed values ('Icee', '200' );''')
connectionToDatabase.commit()

Table 3: Points Needed to Purchase Items

This list shows how many points each item in the store costs to buy.

|Item|Points Required|
|---|---|
|Pizza|2000|
|Pop|800|
|Hot dog|500|
|Candy Bar|250|
|Burger|1500|
|Cheeseburger|1750|
|Ice Cream|250|
|Icee|200|

In [0]:
cursor.execute('''drop table IF EXISTS Transactions_Financial_c1''')
connectionToDatabase.commit()

cursor.execute('''create table Transactions_Financial_c1 (transactionNumber int PRIMARY KEY, total int, newBalance int)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Transactions_Financial_c1 values ('1', '2', '100' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_Financial_c1 values ('2', '8', '300' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_Financial_c1 values ('3', '2', '50' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_Financial_c1 values ('4', '10', '350' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_Financial_c1 values ('5', '0', '0' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_Financial_c1 values ('6', '18', '650' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_Financial_c1 values ('7', '0', '200' );''')
connectionToDatabase.commit()

Table 4: Transactions (For customer 1)

This list shows a summary of transactions, with each customer getting their own table.

|Transaction Number|Total in Dollars|New Points Balance|
|---|---|---|
|1|2|100|
|2|8|300|
|3|2|50|
|4|10|350|
|5|0|0|
|6|18|650|
|7|0|200|

In [0]:
cursor.execute('''drop table IF EXISTS Transactions_c1''')
connectionToDatabase.commit()

cursor.execute('''create table Transactions_c1 (itemsPurchased text PRIMARY KEY, price int, quantity int, pointsAdded int)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Transactions_c1 values ('Candy Bar', '1', '2', '100' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_c1 values ('Pizza', '7', '1', '200' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_c1 values ('Pop', '2', '1', '125' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_c1 values ('Burger', '6', '1', '150' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_c1 values ('Icee', '2', '1', '75' );''')
connectionToDatabase.commit()

Table 5: Transaction Details (For Customer 1, transaction 6) (No Points Used) 

This list shows a list of items purchased in a particular transaction. This gives customers more details, and one of these tables exists for each transaction for each customer.

|Item Purchased|Price ($)|Quantity|Points Awarded|
|---|---|---|---|
|Candy Bar|1|2|100|
|Pizza|7|1|200|
|Pop|2|1|125|
|Burger|6|1|150|
|Icee|2|1|75|

In [0]:
cursor.execute('''drop table IF EXISTS Transactions_c1_t7''')
connectionToDatabase.commit()

cursor.execute('''create table Transactions_c1_t7 (itemsPurchased text PRIMARY KEY, points int, quantity int, pointsSubtracted int)''')
connectionToDatabase.commit()

In [0]:
cursor.execute('''insert into Transactions_c1_t7 values ('Ice Cream', '250', '1', '250' );''')
connectionToDatabase.commit()
cursor.execute('''insert into Transactions_c1_t7 values ('Icee', '200', '1', '200' );''')
connectionToDatabase.commit()

Table 6: Transaction Details (For Customer 1, transaction 7) (Only points used)

Same as table 5, but this time we are showing a points only transaction, costing the customer nothing

|Item Purchased|Points Price|Quantity|Points Subtracted|
|---|---|---|---|
|Ice Cream|250|1|250|
|Icee|200|1|200|

https://imgur.com/a/OSPDZB7

![alt text](https://imgur.com/a/OSPDZB7)


https://hbr.org/1995/05/do-rewards-really-create-loyalty

Which items need the most points to buy?

In [0]:
cursor.execute('''SELECT * FROM Points_Needed ORDER BY points_required DESC;''')
for row in cursor.fetchall():
  print (row)

('Pizza', 2000)
('Cheeseburger', 1750)
('Burger', 1500)
('Pop', 800)
('Hot Dog', 500)
('Candy Bar', 250)
('Ice Cream', 250)
('Icee', 200)

Pizza needs the most points to buy. Following after are Cheeseburger, Burger, Pop, HOt Dog, Candy Bar, Ice Cream and Icee

What Item awards the most points?

In [0]:
cursor.execute('''SELECT itemsPurchased, pointsAdded FROM Transactions_c1 ORDER BY pointsAdded Desc LIMIT 1;''')
for row in cursor.fetchall():
  print (row)

('Pizza', 200)

Pizza awards the most points at 200 points

Which customerID has the most points available?

In [0]:
cursor.execute('''SELECT customerID, points_available FROM Customers ORDER BY points_available DESC;''')
for row in cursor.fetchall():
  print (row)

(4, 800.0)
(5, 400.0)
(2, 350.0)
(1, 200.0)
(6, 150.0)
(7, 100.0)
(3, 0.0)

customerID 4 has the most points available a

ER Diagram:

https://imgur.com/a/QrAP3gu